{% extends "master.html" %}

{% block title %}
    Crear Pedido
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Crear Nuevo Pedido</h1>
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    <label for="client" class="fw-bold">Selecciona un Cliente</label>
                    <select name="client" class="form-control text-center" id="client">
                        {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.name }} {{ client.email }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="type_plan" class="fw-bold">Selecciona un Plan</label>
                    <select name="type_plan" class="form-control text-center" id="type_plan">
                        {% for plan in plans %}
                            <option value="{{ plan.id }}">{{ plan.type_plan }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="status" class="fw-bold">Estado</label>
                    <input type="text" name="status" class="form-control text-center" id="status">
                </div>
                <div class="form-group">
                    <label for="address" class="fw-bold">Dirección</label>
                    <input type="text" name="address" class="form-control text-center" id="address">
                </div>
                <div class="form-group">
                    <label for="phone" class="fw-bold">Teléfono</label>
                    <input type="text" name="phone" class="form-control text-center" id="phone">
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Crear Cliente</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}