{% extends "master.html" %}

{% block title %}
    Registrar Pago
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Registrar Pago</h1>
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    <label for="orders" class="fw-bold">Seleccionar Pedido</label>
                    <select name="orders" class="form-control text-center" id="orders">
                        {% for order in orders %}
                            <option value="{{ order.id }}">{{ order.client.name }} {{ order.type_plan.type_plan }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="status" class="fw-bold">Estado</label>
                    <input type="text" name="status" class="form-control text-center" id="status">
                </div>
                <div class="form-group">
                    <label for="amount" class="fw-bold">Monto</label>
                    <input type="text" name="amount" class="form-control text-center" id="amount">
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Registrar Pago</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}