{% extends "master.html" %}

{% block title %}
  Orden
{% endblock %}


{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">Detalle del Pedido</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>ID</th>
            <td>{{ myorder.id }}</td>
          </tr>
          <tr>
            <th>Cliente</th>
            <td>{{ myorder.client.name }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ myorder.status }}</td>
          </tr>
          <tr>
            <th>Plan</th>
            <td>{{ myorder.type_plan.type_plan }}</td>
          </tr>
          <tr>
            <th>Teléfono</th>
            <td>{{ myorder.phone }}</td>
          </tr>
          <tr>
            <th>Dirección</th>
            <td>{{ myorder.address }}</td>
          </tr>
          <tr>
            <th>Fecha de Creación</th>
            <td>{{ myorder.date }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-3">
        <a href="../.." class="btn btn-primary">Lista de Solicitudes</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}